.mx-auto {
	margin: auto;
}
.text-center {
	text-align: center;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1 {
	font-family: 'Bungee', sans-serif;
	font-size: 2.5rem;
	line-height: 1.5;
	font-weight: 900;
}

h2 {
	font-family: 'Bungee', sans-serif;
	font-weight: 900;
	font-size: 2rem;
}

h2, .h2 {
	font-size: 2rem;
}
h4, .h4 {
	font-size: 1.5rem;
}
h6, .h6 {
	font-size: 1rem;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #FF4136;
}

a:hover {
	color: white;
	text-decoration: none;
}

.btn {
	display: inline-block;
	font-weight: normal;
	line-height: 1.25;
	text-align: center;
	#FF4136-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none !important;
}

.btn-lg, .btn-group-lg > .btn {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	border-radius: 0.3rem;
}

.section {
	min-height: 700px;
	padding-top: 25px;
	padding-bottom: 45px;
}

.btn-corbynrun {
	background: white;
	color: #FF4136;
}

.btn-corbynrun:hover {
	color: #FF4136;
	background: darkred;
}

/* Body */

body {
	background-color: white;
	color: #FF4136;
	font-family: 'Montserrat', sans-serif;
}

#main-text {
	margin-top: 50px;
	margin-bottom: 14px;
	padding: 14px;
}

#main-text p {
	padding-top: 14px;
	padding-bottom: 14px;
}

.btn, .btn-big {
	background-color: transparent;
	border-width: 2px;
	border-color: #FF4136;
	border-radius: 40px;
	color: #FF4136;
}

.btn-big {
	border-color: #FF4136;
	border-width: 3px;
	border-radius: 5px;
	background-color: transparent;
	color: #FF4136;
	margin-top: 14px;
	font-family: 'Bungee', sans-serif;
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
}

 .btn-big:hover {
	background-color: #FF4136;
	color: white;
	font-weight: 900;
}

.bar {
	background-color: #FF4136;
	width: 200px;
	height: 6px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Navbar */

nav {
	padding: 14px;
	background-color: transparent;
	color: #FF4136;
	font-family: 'Bungee', sans-serif;
	font-weight: 500;
}

nav a {
	color: #FF4136;
}

nav a:hover {
	font-weight: 900;
	color: #FF4136;
	text-decoration: none;
}

#logo {
	width: 50px;
	margin-right: 14px;
}

#logo-text {
	font-family: 'Bungee', sans-serif;
}

#nav .btn {
	border-color: #FF4136;
	border-width: 2px;
	border-radius: 5px;
	background-color: transparent;
	color: #FF4136;
	font-family: 'Bungee', sans-serif;
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
}

#nav .btn:hover {
	background-color: #FF4136;
	color: white;
}

#nav .btn a:hover {
	color: white;
}

#nav {
	display: inline;
	float: right;
}

nav li {
	display: inline;
	padding: 14px;
	font-family: 'Montserrat', sans-serif;
}

nav li a:hover {
	color: #FF4136;
}

/* Media */

.media {
	background-color: #45a8da;
	color: white;
	padding-bottom: 50px;
}

.media h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.media-block {
	padding: 14px;
	padding-bottom: 30px;
	text-align: center;
}

.media a {
	color: white;
}

/* Projects */

.projects {
	background-color: white;
	color: #2A205B;
	position: absolute;
}

#corbyn-button {
	color: #2A205B;
	border-color: #2A205B;
	margin: auto;
}

#corbyn-button:hover {
	color: white;
}

.projects a {
	color: #2A205B;
}

.projects a:hover {
	color: white;
}

.projects a:hover{
	background-color: #2A205B;
	color: white;
}

.button {
	margin: auto;
	padding-top: 100px;
}

@media screen and (min-width: 773px) {
	.button {
		padding-left: 100px;
		padding-top: 0px;
	}
	#purple-bar {
		background-color: #2A205B;
		width: 500px;
		height: 380px;
		-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		position: relative;
	}
}

@media screen and (min-width: 994px) {
	.button {
		padding-top: 0px;
		padding-left: 0px;
	}
}

#purple-bar {
	background-color: #2A205B;
	width: 300px;
	height: 380px;
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	position: relative;
}

.relative {
	position: absolute;
	top: 50px;
	left: 30%;
}

.normal {
	position: static;
	height: 750px;
}

@media screen and (min-width: 773px) {
	.normal {
		position: static;
		height: 380px;
	}
}

#corbyn-run {
	height: 300px;
}

/* Team */

.team {
	padding-bottom: 50px;
}

.team h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.team h3 {
	text-align: center;
	padding: 14px;
}

.team-img {
	padding: 20px;
}

.photo {
	width: 100%;
	border-radius: 5px;
}

.twitter {
	width: 20px;
	display: block;
	margin: auto;
}

.team a:hover {
	color: #FF4136;
}

/* Contact */

.contact {
	background-color: #2A205B;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact a {
	color: white;
	text-decoration: none;
	padding: 10px 14px 10px 14px;
}

.contact .btn-big {
	border-color: white;
}

.contact .btn-big:hover {
	background-color: white;
	color: #2A205B;
}

/* Social */

.social .btn-big {
	color: white;
	border-color: white;
	background-color: transparent;
	display: block;
	margin: auto;
	margin-top: 30px;
}

.social .btn-big:hover {
	background-color: white;
	color: #45a8da;
}

.social a {
	color: white;
}

.social a:hover {
	color: #45a8da;
}

.social {
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #45a8da;
}
